In [1]:
import pandas as pd

In [12]:
articles = pd.read_csv(
    '../data/articles_prep.csv', 
    sep=';',
    index_col=['company', 'time_stamp']
)

stock_prices = pd.read_csv(
    '../data/stocks_prices_prep.csv', 
    sep=';',
    index_col=['company', 'time_stamp']
)

index = pd.read_csv(
    '../data/index_prep.csv', 
    sep=';',
    index_col=['index', 'time_stamp']
)

index = (index.loc['^MDAXI', :] + index.loc['^SDAXI', :]) / 2
index = index.rename(columns={
    'price': 'index'
})

stock_prices = stock_prices.merge(
    index,
    right_index=True,
    left_index=True
)

stock_prices['alpha'] = stock_prices['price'] - stock_prices['index']

display(articles)
display(stock_prices)

,,title,length,text
company,time_stamp,,,
commerzbank ag,2019-03-04,Commerzbank AG Post-stab Berlin 0.625% EUR 250...,229.0,Post-stabilisation notice 4 March 2019 Not for...
ks ag,2021-02-15,DGAP-Adhoc: DEPFA BANK plc: FMS-WM announces s...,292.0,DGAP-Ad-hoc: DEPFA BANK plc / Key word(s): Mis...
morphosys ag,2022-01-06,"INTERNATIONAL PATENT: MORPHOSYS AG, GILEAD SCI...",224.0,"GENEVA, Jan. 6 -- MORPHOSYS AG (Semmelweisstr...."
ks ag,2020-03-24,DGAP-Adhoc: Delignit AG: Delignit responds to ...,555.0,Delignit AG: Delignit responds to COVID-19 pan...
s&t ag,NaN,Swiss Official Gazette of Commerce notice: HR ...,268.0,Bern: Swiss Official Gazette of Commerce has i...
...,...,...,...,...
lanxess ag,2019-02-01,-LANXESS - High-performance prepolymer technol...,690.0,Cologne - Specialty chemicals company LANXESS ...
secunet security networks ag,2020-08-12,DGAP-News: secunet Security Networks AG closes...,1122.0,secunet Security Networks AG closes first half...
dic asset ag,2022-09-19,EQS-News: DIC Asset AG renews leases for about...,847.0,EQS-News: DIC Asset AG / Key word(s): Real Est...
deutz ag,2022-08-11,Deutz AG Half Year Results,1678.0,RNS Number : 6878V Deutz AG 11 August 2022 * O...
knorr-bremse aktiengesellschaft,2020-06-02,Knorr-Bremse Aktiengesellschaft: Knorr-Bremse ...,1260.0,"Link to Story Press Release Munich, June 2, 20..."

                                price     index     alpha
company          time_stamp
1&1 drillisch ag 2018-01-01  0.000000  0.000000  0.000000
                 2018-01-02  0.021255  0.000181  0.021074
                 2018-01-03 -0.011519  0.011051 -0.022570
                 2018-01-04  0.006496  0.010771 -0.004275
                 2018-01-05  0.005739  0.008805 -0.003067
...                               ...       ...       ...
zooplus ag       2022-09-05       NaN -0.020870       NaN
                 2022-09-06       NaN  0.005961       NaN
                 2022-09-07       NaN  0.003477       NaN
                 2022-09-08       NaN  0.005395       NaN
                 2022-09-09       NaN  0.020202       NaN

[139650 rows x 3 columns]

In [15]:
idx = pd.api.indexers.FixedForwardWindowIndexer
stock_prices['alpha_3'] = stock_prices.groupby(['company', 'time_stamp'])['alpha'].rolling(3).sum().reset_index(drop=True)
display(stock_prices)

                                price     index     alpha  alpha_3
company          time_stamp
1&1 drillisch ag 2018-01-01  0.000000  0.000000  0.000000      NaN
                 2018-01-02  0.021255  0.000181  0.021074      NaN
                 2018-01-03 -0.011519  0.011051 -0.022570      NaN
                 2018-01-04  0.006496  0.010771 -0.004275      NaN
                 2018-01-05  0.005739  0.008805 -0.003067      NaN
...                               ...       ...       ...      ...
zooplus ag       2022-09-05       NaN -0.020870       NaN      NaN
                 2022-09-06       NaN  0.005961       NaN      NaN
                 2022-09-07       NaN  0.003477       NaN      NaN
                 2022-09-08       NaN  0.005395       NaN      NaN
                 2022-09-09       NaN  0.020202       NaN      NaN

[139650 rows x 4 columns]